@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Tilt Neon;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container header {
  background-color: #57AEFF;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 180px;

}

#img {
  width: 27em;
  height: 8em;
}

.container main {
  width: 50%;
  margin: auto;
  flex: 1 1 0;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocks {
  border-radius: 0.625rem;
  padding: 0.313rem;
  width: 18.75rem;
  height: 3.5em;
  background: white;
  text-align: center;
  margin: 20px;
  font-size: 40px;
  margin-top: -20px;
  box-shadow: 0px 10px 40px #00000056;
}

.blocks:hover{
  transform: translateY(-.65rem);
  transition: .2s;
}

.text {
  text-align: center;
  font-size: 2.125rem;
  display: flex;
  justify-content: space-between;
}

.group-icons {
  width: 2.5rem;
  text-align: right;
}

#alerta {
  display: none;
}

.content-form {
  padding: 40px;
}

.formulario {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}


.group-input {
  margin: 10px;
}

.single-input {
  position: relative;
  margin: 30px;
}

.single-input label {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: rgb(150, 150, 150);
  cursor: text;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 16px;
  color: rgb(80, 80, 80);
  transition: 0.5s ease-in-out;
  background-color: white;
}

.input:focus,
.input:valid {
  border-bottom: 2px solid #57AEFF;
}

.input:focus~label,
.input:valid~label {
  transform: translateY(-24px);
  font-size: 12px;
  color: #57AEFF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#button {
  width: 10em;
  height: 2em;
  border-radius: 2em;
  background-color: #57AEFF;
  margin: 2em;
  font-weight: bold;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: .7rem;
}

#button:hover {
  background-color: rgb(121, 236, 79);
  cursor: pointer;
}

#salvar {
  width: 1.5rem;
  height: 1.5rem;
}

.radio {
  margin: 1em;
  width: 1em;
}

.group-input-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 16px;
}


.tabela {
  width: 95%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}

th,
td {
  padding: 12px 15px;
  text-align: center;
}

th {
  background-color: #57AEFF;
  color: white;
}

tr:nth-child(even) {
  background-color: #e2e0e0;
  ;
}

.group-icons-create:hover {
  color: #57AEFF;
  cursor: pointer;
  transform: scale(1.5);
    transition: .2s;
}

.group-icons-trash:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.5);
    transition: .2s;
}

.group-icons-create {
  width: 1.5rem;
  height: 1.5rem;
}

.group-icons-trash {
  width: 1.5rem;
  height: 1.5rem;
  
}


#create{
  border: none;
  background-color: transparent;
}

#trash{
  border: none;
  background-color: transparent;
}


.container footer {
  position: relative;
  background-color: #57AEFF;
  height: 3.3rem;
  justify-content: space-between;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .9rem;
  padding: .5rem;
  position: absolute;
  right: 0;
}

.icones {
  width: 2rem;

}

.paragrafo {
  font-size: 20px;
  text-align: center;
  flex: 1;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  display: grid;
  color: white;
}


